.loginPage {
  margin: 32px;
  
  .loginTitle {
    text-align: center;
  }

  .loginContainer {
    display: flex;
    justify-content: center;
  }

  .loginError {
    text-align: center;
    color: red;
    font-weight: bold;
  }
}
