.admin-view {
  .add-product {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .icon {
      margin-left: 12px;
    }
  }

  .product-list {

    .name-row {
      display: flex;
      align-items: center;

      .thumbnail-container {
        width: 40px;
        overflow: hidden;

        .thumbnail {
          height: 40px;
        }
      }

      .product-name {
        margin-left: 20px;
      }
    }

    .icon:not(:last-child) {
      margin-right: 10px;
    }
  }
}
