@import '../assets/colors';

.product-editor {

  @mixin image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-right: 16px;
    padding: 8px;
    width: 160px;
    height: 160px;
    background-color: $brilliant-white;
    border-width: 1px;
    border-color: $cadillac;
    border-style: dashed;
    border-radius: 8px;
  }

  .add-product-header {
    display: flex;
    justify-content: space-between;
  }

  .product-form {
    display: flex;
    flex-direction: column;

    .dropzone-area {
      display: flex;

      .preview-container {
        position: relative;
        @include image-box;

        .ui.segment {
          margin: 0;
          padding: 0;
          border: 0;
        }

        .image-preview {
          width: 100%;
        }

        .delete-button {
          position: absolute;
          right: -10px;
          top: -10px;
          z-index: 20;
          border-radius: 18px;
        }
      }

      .file-drop {
        @include image-box;
        // overflow: hidden;
        cursor: pointer;

        &[aria-disabled="true"] {
          border-color: #666;
        }

        .file-drop-text {
          text-align: center;
        }
      }
    }

    .error-message {
      color: #9F3A38;
      font-size: 0.8rem;
      font-weight: bold;
      min-height: 20px;
    }
  }
}
