.public-route {
  .header, .footer {
    padding: 12px;
    background-color: #A9526B;
    color: #FFF;
    height: 100px;
  }
}

.private-route {
  .header {
    padding: 12px;
    background-color: #A9526B;
    color: #FFF;
    height: 50px;
  }
}
