.products-view {
  padding: 20px;
  margin: 0 40px;

  .products-grid {
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;

    .featured-products {
      border: 1px solid;
      margin: 16px 20px;
    }

    .product-cell {
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      border-left: 1px solid #eee;
      border-bottom: 1px solid #eee;

      .image, .details {
        width: 100%;
        max-width: 300px;
        align-self: center;
      }
    }
  }
}

.product-modal {

  .product-container {
    margin: 20px;
    width: 300px;
    overflow: hidden;

    .image {
      height: 240px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .products-view {
    margin: 0 10%;
  }
}

@media screen and (max-width: 768px) {
  .products-view {
    margin: 0;
  }
}
