@import 'colors';

.products-view {
  padding: 20px;

  .products-grid {

    .product-cell {
      margin: 16px;
      padding: 8px;
      border: 1px solid $cadillac;
      border-radius: 8px;
      overflow: hidden;

      .image-container {
        width: 280px;
        height: 304px;
        overflow: hidden;
        background-color: $brilliant-white;

        img {
          width: 280px;
        }
      }

      .title {
        margin-top: 8px;
        height: 40px;
        width: 280px;
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }

      .current-price {
        margin-top: 8px;
        font-size: 1.3rem;
        text-align: right;
        color: $very-berry;
      }
    }
  }
}

.product-details {
  padding: 20px;

  .ui.image {
    padding: 16px;
  }

  .description-container {
    padding: 16px;

    .title {
      margin-bottom: 16px;
      font-size: 1.4rem;
    }

    .price {
      margin-bottom: 16px;
      font-size: 1.6rem;
      color: $very-berry;
    }

    .ui.button {
      background-color: $very-berry;
      color: $brilliant-white;
      margin-bottom: 16px;
    }

    .ui.button:hover {
      background-color: darken($very-berry, 10%);
    }

    .ui.button:active {
      background-color: darken($very-berry, 20%);
    }
  }
}
