.hero-bar, .contact-footer {
  padding: 12px;
  background-color: #A9526B;
  color: #FFF;
  height: 100px;
}

.featured-products {
  border: 1px solid;
  margin: 16px 20px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .product-cell {
    margin: 20px;

    .image {
      width: 300px;
      height: 240px;
      background-color: lightgrey;
    }

    .title {

    }

    .current-price {
      
    }
  }
}
