@import '../../assets/colors';

.productsView {
  padding: 16px 32px;

  .carousel {
    margin-bottom: 40px;

    :global(.carousel .slide .legend) {
      background-color: transparent;
      opacity: 1;
      font-size: 20px;
      text-shadow: 2px 2px 4px $silver;
      transition: none;
    }
  }

  .productCell {
    width: 280px;
    margin: 16px;
    padding: 8px;
    border: 1px solid $brilliant-white;
    box-shadow: $box-shadow;
    cursor: pointer;

    .imageContainer {
      height: 240px;
      overflow: hidden;
      padding: 0 !important;
      background-color: $brilliant-white;
    }

    .title {
      height: 40px;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    .currentPrice {
      font-size: 1.3rem;
      text-align: right;
      color: $very-berry;

      .disabledPrice {
        margin-right: 8px;
        color: $silver;
        text-decoration: line-through;
        font-size: 1.2rem;
      }
    }
  }
}
