@import '../../assets/colors';

.chatWindow {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 42px;
  box-shadow: 2px 2px 2px 0px rgba($black, 0.25);
  border-radius: 22px;
  cursor: pointer;

  .box {
    display: none;
    position: absolute;
    border: 1px solid black;
    bottom: 50px;
    right: 0px;
    width: 220px;
    height: 300px;
    background-color: white;
  }

  .visible {
    display: block;
  }
}
