@import '../assets/colors';

.private-route {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: $cadillac;
    color: #FFF;
    height: 50px;

    .actions {
      display: flex;

      .logout {
        cursor: pointer;
      }

      .home-link {
        color: $brilliant-white;
      }
    }
  }
  .route-layout {
    padding: 16px;
  }
}
