.quillWrapper {
  margin-bottom: 32px;

  .required::after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #db2828;
  }

  :global(.ql-toolbar.ql-snow), :global(.ql-container.ql-snow) {
    border-color: #DEDEDE;
  }

  &:global(.error) {
    :global(.ql-toolbar.ql-snow), :global(.ql-container.ql-snow) {
      background-color: #fff6f6;
      border-color: #e0b4b4;
    }
  }

  .errorMessage {
    color: #9F3A38;
    font-size: 0.8rem;
    font-weight: bold;
    min-height: 20px;
  }
}
