.quill-wrapper {
  margin-bottom: 32px;

  .required::after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #db2828;
  }

  .ql-toolbar.ql-snow, .ql-container.ql-snow {
    border-color: #DEDEDE;
  }

  &.error {
    .ql-toolbar.ql-snow, .ql-container.ql-snow {
      background: #fff6f6;
      border-color: #e0b4b4;
    }
  }
}
