.mgmtHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
}

.productList {

  .nameRow {
    display: flex;
    align-items: center;

    .thumbnailContainer {
      width: 40px;
      overflow: hidden;

      .thumbnail {
        height: 40px;
      }
    }

    .productName {
      margin-left: 20px;
    }
  }
}
