$cadillac: #8A1D56;
$brilliant-white: #EFF0F1;
$very-berry: #B73275;
$silver: #BBBBBB;
$light-silver: #DDDDDD;
$cherry-blossom: #FEEAF3;
$spicy-orange: #D73C26;

$body-font-color: #42413D;
$box-shadow: 0px 3px 8px rgba($silver, 0.25);
