@import './assets/colors';

.public-route {
  .header, .footer {
    padding: 12px;
    background-color: $cadillac;
    color: #FFF;
    height: 100px;
  }
}

.private-route {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: $cadillac;
    color: #FFF;
    height: 50px;
  }
  .logout {
    cursor: pointer;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.main-axis-center {
  justify-content: center;
}

.cross-axis-baseline {
  align-items: baseline;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}
