@import '../../assets/colors';

.productDetails {
  padding: 20px;

  .descriptionContainer {
    padding: 16px;

    .title {
      margin-bottom: 16px;
      font-size: 1.4rem;
    }

    .price {
      margin-bottom: 16px;
      font-size: 1.6rem;
      color: $very-berry;

      .disabledPrice {
        margin-right: 8px;
        color: $silver;
        text-decoration: line-through;
        font-size: 1.4rem;
      }
    }

    .description {
      white-space: pre-line;
    }
  }
}
