@import '../../assets/colors';

.productDetails {
  padding: 20px;

  .backButtonWrapper {
    padding: 32px 0 16px 0;
    // height: 50px;
    text-align: right;
  }

  .frame {
    padding: 4px;
    margin: 8px;
    width: calc(50% - 16px) !important;
    border: 1px solid $brilliant-white;
    box-shadow: $box-shadow;
  }

  .detailsContainer {
    padding: 16px;

    .title {
      margin-bottom: 16px;
      font-size: 1.4rem;
    }

    .price {
      margin-bottom: 16px;
      font-size: 1.6rem;
      color: $very-berry;

      .disabledPrice {
        margin-right: 8px;
        color: $silver;
        text-decoration: line-through;
        font-size: 1.4rem;
      }
    }
  }

  .description {
    padding: 4px;
    margin: 8px;
    border: 1px solid $brilliant-white;
    box-shadow: $box-shadow;
  }
}
