@import '../../assets/colors';

.productDetails {
  padding: 24px !important;

  .frame {
    padding: 4px;
    margin: 8px;
    width: calc(50% - 16px) !important;
    border: 1px solid $brilliant-white;
    box-shadow: $box-shadow;
  }

  .detailsContainer {
    padding: 16px;

    .title {
      margin-bottom: 16px;
      font-size: 1.4rem;
    }

    .price {
      margin-bottom: 16px;
      font-size: 1.6rem;
      color: $very-berry;

      .disabledPrice {
        margin-right: 8px;
        color: $silver;
        text-decoration: line-through;
        font-size: 1.4rem;
      }
    }

    .buttonContainer {
      display: flex;
      align-items: flex-end;
      margin: 16px 0;

      button {
        min-width: 176px;
      }
    }

    .discountInfo {
      color: $spicy-orange;
      font-size: 0.9rem;
      margin-left: 8px;
    }

    .pagseguro {
      margin-top: 32px;
      width: 137px;
    }
  }

  .description {
    padding: 4px;
    margin: 8px;
    border: 1px solid $brilliant-white;
    box-shadow: $box-shadow;
  }
}

.modalContent {
  .subtitle {
    margin-bottom: 16px;
  }
  p {
    margin: 8px;
  }
  .whatsapp {
    color: $whatsapp;
  }
}
