@import '../../assets/colors';

.header, .footer {
  background-color: $cadillac;
  color: #FFF;

  .logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
  }
}

.routeLayout {
  padding: 16px;
}

.logo {
  height: 80px;
}

.lua {
  height: 98px;
}
