@import '../../assets/colors';

.header, .footer {
  display: flex;
  padding: 12px;
  background-color: $cadillac;
  color: #FFF;
}

.menu {
  background-color: $cherry-blossom;
  color: $body-font-color;
  height: 32px;
  box-shadow: $box-shadow;
}

.routeLayout {
  padding: 16px;
}

.logo {
  height: 80px;
}
